// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#home_page {
    text-align: center;

    #home_buttons {
        margin-top: 40px;

        a {
            margin: 0 10px;
        }
    }
}