<section id="footerImage">
</section>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Sleepy Farmers</h5>
                <p class="grey-text text-lighten-4">For those that love fresh organic food, and also sleep</p>
            </div>
        </div>
    </div>

    <div class="footer-copyright">
        <div class="container">© 2019</div>
    </div>

</footer>