<section id="home_page">

    <h1>Welcome to the Sleepy Farmers Markets</h1>
    
    <div id="home_buttons">
        <h4>Find the Farmer or Market that is right for you</h4>
        <%= link_to "Find Farmer", farmers_profiles_path, class: "waves-effect waves-light btn-large" %> 
        <%= link_to "Find Market", markets_path, class: "waves-effect waves-light btn-large" %> 
    </div>

</section>
