<section id="home_page">

    <h1>Welcome to the Sleepy Farmers Markets</h1>
    
    <div id="home_buttons">
        <h4>Find the Farmer or Market that is right for you</h4>
        <%= link_to "Shop by Farmer", farmers_profiles_path, class: "waves-effect waves-light btn-large" %> 
        <%= link_to "Shop by Market", markets_path, class: "waves-effect waves-light btn-large" %>
        <% if user_signed_in? && current_user.role == "farmer" %>
            <%= link_to "Add Produce", new_product_path, class: "waves-effect waves-light btn-large" %> 
        <% end %>
    </div>

    <p>Items can be paid online with a credit card or paid for in cash upon collection.</p>
    <p>Items must me collected between within the trading hours of the market.</p>

</section>
