<h1>Welcome to the Sleepy Farmers Markets</h1>
<h4>Find the Farmer or Market that is right for you</h4>
<%= link_to "Find my Farmer", markets_path %>
<%= link_to "Find my Market", farmers_profiles_path %>

<h1>Jo is Awesome!</h1>