
<script>
    for (let [product_id, qty] of Object.entries(localStorage)) 
    {

    }
</script>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Farmer</th>
            <th>Price</th>
            <th>QTY</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tomatos</td>
            <td>Jo</td>
            <td>$0.87</td>
            <td>3</td>
            <td>2.61</td>
        </tr>
    </tbody>
</table>

<div class="col s12">
    <script src="https://checkout.stripe.com/checkout.js"
        class="stripe-button"
        data-key="pk_Fhlzwtm9SCx6Uxww5fNXX8CUbwwAc"
        data-amount="<%= %>"
        data-name="The Sleepy Farmer's Markets"
        data-description="Your Order"
        data-image="/128x128.png">
    </script>
</div>


